.image-text-container {
  align-items: center;
  background-color: rgb(209, 19, 57);
  color: white;
  display: flex;
  font-weight: 600;
  font-style: italic;
  font-size: 1.5rem;
  justify-content: center;
  letter-spacing: 1px;
  text-decoration: none;
  height: 5em;
}

.image-text-container {
  display: flex; /* Make the container a flex container */
  align-items: center; /* Align content vertically in the middle */
}

.image-text-container img {
  margin-right: 10px; /* Add margin for spacing between image and text */
  height: 5rem;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}

.dropdown-toggle::after {
   transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
}